.animated-bg {
  background: linear-gradient(270deg, #ff6a00, #ee0979, #00c3ff, #ff0080);
  background-size: 400% 400%;
  animation: gradientAnimation 8s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
